@import "pod-styles";

body {
  padding: 20px;
  text-align: center;

}

button {
  display: block;
  width: 60px;
  height: 80px;
}

.wheels {
  margin: 0 auto;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


// https://stackoverflow.com/questions/15935837/how-to-display-a-range-input-slider-vertically
input[type=range]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
