body {
  text-align: center;
  height: 200px;
}

button {
  display: block;
  width: 60px;
  height: 80px;
}

.wheels {
  /*margin: 0 auto;*/
  /*width: 200px;
  height: 300px;*/
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  /*-webkit-transform: rotate(-90deg);*/
}

.slider-wrapper {
  display: inline-block;
  width: 100px;
  height: 200px;
  padding: 0;
}

.slider-wrapper input {
  width: 200px;
  height: 100px;
  margin: 0;
  transform-origin: 100px 100px;
  transform: rotate(-90deg);
}


.live-feed {
  width: calc(100% - 150px);
  transform: rotate(180deg);
}

.live-feed img {
  width: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
}


.wheels div:first-child {
  margin-bottom: 100px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 8px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -46px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
