<div class="wheels">
{{wheel-component forwardKey=81 backKey=65 wheel=model.wheelone changeSpeed=(action 'changeSpeed' model.wheelone)}}
{{wheel-component forwardKey=80 backKey=76 wheel=model.wheeltwo changeSpeed=(action 'changeSpeed' model.wheeltwo)}}
</div>
