body {
  padding: 20px;
  text-align: center;

}

button {
  display: block;
  width: 60px;
  height: 80px;
}

.wheels {
  margin: 0 auto;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transform: rotate(-90deg);
  margin-top: 120px;
}

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 300px;
    height: 100px;
}


.wheels div:first-child {
  margin-bottom: 100px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 8px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -46px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

