{{live-feed}}
<div class="wheels">
  {{wheel-component-simple speed=car.left changeSpeed=(action 'changeSpeed' 'left')}}
  {{wheel-component-simple speed=car.right changeSpeed=(action 'changeSpeed' 'right')}}
</div>
