<div class="wheels">
  {{wheel-component-simple speed=car.left changeSpeed=(action 'changeSpeed' 'left')}}
  {{!-- {{rpi-cam-web-interface-feed class="live-feed"}} --}}
  <div class="live-feed">
    {{!-- <img src="http://192.168.1.202:3080/stream/video.mjpeg" alt="image"  > --}}
    <img src="http://192.168.1.202:3080/stream/video.h264" alt="image"  >
  </div>
  {{wheel-component-simple speed=car.right changeSpeed=(action 'changeSpeed' 'right')}}
</div>
